*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-1: #2e323f;
  --color-2: #3b4050;
  --color-3: #6f737f;
  --color-4: #a59678;
  --color-5: #dae8e8;
  --white: #ffffff;
}

body {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  color: var(--white);
}

img{
  max-width: 100%;
}

ul li{
  text-decoration: none;
  list-style: none;
}

.p-2{
  padding: 4em 0;
}

.btn{
  padding: 0.75em 2em;
  text-decoration: none;
  background: var(--color-4);
  border-radius: 100px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 2.4rem;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

footer{
  background: var(--color-2);
  color: var(--white);
}

strong{
  color: var(--color-4);
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background: var(--color-1);
}

.intro {
  background: var(--color-2);
}

.intro p{
  margin: 2em 0;
  font-size: 2.4rem;
}

.intro h1{
  font-size: 9rem;
  line-height: 1.1em;
}

.testimonial {
  padding: 3em 0;
  background: var(--color-5);
  color: black;
}

.testimonial h3{
  color: var(--color-4);
  font-size: 3rem;
}

.testimonial p{
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.2em;
}

.article{
  margin-bottom: 1em;
}


.section-2{
  margin: 3em 0;
}

.section-2 p{
  color: black;
  font-size: 2.1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1em 0;
}

.section-2 h2{
  font-size: 3.6rem;
  color: var(--color-4);
}


.card{
  background: var(--color-2);
  margin-bottom: 0.5em;
  /* padding: 1em 0; */
  /* margin: 0 auto; */
  /* width: 80%; */
}

.card-container{
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.card-title{
  text-align: center;
  font-size: 2rem;
}

.card-body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0.3em;
}


footer{
  padding: 3em 0;
}

footer h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.footer-info h2{
  color: var(--color-4);
  font-size: 2.1 rem;
  font-weight: bold;
}

.footer-info div{
  text-align: center;
  margin: 2em 0;
}

.footer-info a{
  color: var(--white);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footer-info a:hover,
.footer-info a:focus{
  opacity: 0.75;
}

/* .footer-info h2{
  color: var(--color-4);
  font-size: 2.1 rem;
  font-weight: bold;
} */

@media (min-width: 1000px){
  /* .test{
    display: flex;
    gap: 1em;
  } */
}